<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
	<listener class-name="Lloyds.api.listeners.ListenerClass"></listener>
	<listener class-name="Lloyds.api.listeners.AnnotationTransformer"></listener>
	</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="Lloyds.api.testcase.AppTest"/>
      <class name="Lloyds.api.zelpi.BaseTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->

